# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/stamp-h2
Makefile
.deps
.dirstamp
config.h
config.h.in~
config.log
config.status

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MacOSX
.DS_Store

# XCode
project.xcworkspace/
xcuserdata/

# Beringei
#include/beringei/*.h
#src/beringei/*.h
#src/beringei/*.cpp
debian/foreman-cc*
