Source: foreman-cc
Section: libs
Priority: optional
Maintainer: Satoshi Konno <skonno@cybergarage.org>
Build-Depends: debhelper (>=10), libsqlite3-dev
Standards-Version: 3.9.7
Homepage: https://github.com/cybergarage/foreman-cc
Vcs-Git: https://github.com/cybergarage/foreman-cc

Package: foreman-cc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Foreman C++ library
 The C++ component of the Foreman system.
